body{
    background-color: white;
    font-family: "Times New Roman";
    font-size: 20px;
}
#errors{
    color: black;
    font-family: "Times New Roman";
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
h1{
    text-align:center;
    text-decoration: underline;
    margin-bottom: 0;
}
h2{
    text-align:center;
}
.rightAlign{
    text-align: right;
    width: 220px;
    display: inline-block;
}
.colon{
    width: 70px;
    display: inline-block;
}
.alignTop{
    vertical-align: top;
}
.colonAlignTop{
    width: 70px;
    display: inline-block;
    vertical-align: top;
}
table
{
    font-family: "Times New Roman";
	border-collapse: collapse;
	width: 100%;
    text-align: center;
    border:1px solid black;
}
th
{
	border: 1px solid #DDDDDD;
    padding: 8px;
    background-color:grey;
}
td
{
	border: 1px solid #DDDDDD;
	padding: 8px;
}
/*
td.text
{
	text-align: left;
}*/
tr:nth-child(even)
{
	background-color: #DDDDDD;
}
tr:nth-child(odd)
{
	background-color: #ffffff;
}
form{
    width: 400px;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 10px auto;
    color: black;
    background-color: lightgreen;
    border-radius: 10px;
}
.partFormData, .vendorFormData{
    width: 500px;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 10px;
    margin: 10px auto;
    color: black;
    background-color: lightgreen;
    border-radius: 10px;
}
.searchListFormData{
    width: 1000px;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 10px auto;
    color: black;
    background-color: lightgreen;
    border-radius: 10px;
}    
label{
    width: 180px;
    display: inline-block;
    font-size: 18px;
    color: black;
}
input:not([type="radio"]), select{
    font-size: 16px;
    font-family: "Times New Roman";
    padding: 5px 10px;
}
input:not([type="radio"]){
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
}
.selectPart{
    width: 170px;
    margin-bottom: 10px;
    margin-left: -5px;
}
.selectVendor{
    width: 170px;
    margin-top: 10px;
}
input[type="submit"]{
    width: 100%;
    font-size: 22px;
    background-color: green;
    color: white;
    font-family: "Times New Roman";
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 4px 4px 0px darkgreen;
    border-radius: 8px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px green;
}

